In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [11]:
from modules.data_gathering import get_working_dataset

In [12]:
df = get_working_dataset()

supervised_flights_sample.csv exists. Reading from data folder

In [13]:
df

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,crs_elapsed_time,flights,distance,arr_delay,cancelled,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-08-04,DL,DL,DL,118,DL,N368NW,118,15304,TPA,...,192.0,1.0,1185.0,24.0,0.0,13.0,0.0,0.0,0.0,11.0
1,2018-06-17,UA,UA_CODESHARE,UA,4921,C5,N14179,4921,11618,EWR,...,85.0,1.0,172.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2019-11-21,UA,UA_CODESHARE,UA,5297,OO,N957SW,5297,13502,MTJ,...,77.0,1.0,196.0,-27.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2019-06-02,WN,WN,WN,4582,WN,N441WN,4582,14107,PHX,...,85.0,1.0,370.0,22.0,0.0,11.0,0.0,11.0,0.0,0.0
4,2018-12-25,UA,UA_CODESHARE,UA,3811,ZW,N454AW,3811,10868,CAE,...,148.0,1.0,666.0,121.0,0.0,115.0,0.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2018-07-06,DL,DL,DL,1790,DL,N914DN,1790,10397,ATL,...,139.0,1.0,874.0,-7.0,0.0,NaN,NaN,NaN,NaN,NaN
99996,2019-11-05,WN,WN,WN,1066,WN,N7707C,1066,11292,DEN,...,120.0,1.0,794.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN
99997,2019-04-22,AA,AA,AA,594,AA,N812AW,594,11697,FLL,...,172.0,1.0,992.0,-5.0,0.0,NaN,NaN,NaN,NaN,NaN
99998,2019-06-12,AA,AA,AA,1260,AA,N144AN,1260,11298,DFW,...,235.0,1.0,1464.0,20.0,0.0,0.0,0.0,11.0,0.0,9.0
99999,2018-10-27,DL,DL,DL,977,DL,N996DL,977,13930,ORD,...,111.0,1.0,606.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN

In [129]:
df[['fl_date']] = df[['fl_date']].apply(pd.to_datetime)
df['year'] = df.fl_date.apply(lambda x: x.year)
df['month'] = df.fl_date.apply(lambda x: x.month)
df['day'] = df.fl_date.apply(lambda x: x.day)

In [30]:
weather_df = pd.read_csv('/Users/dl/Desktop/lighthouse_midterm/data/WeatherEvents_2016-2021.csv')

In [31]:
weather_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,0.03,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [123]:
weather_df ['origin_city_name'] = weather_df['City'] + ', ' + weather_df['State']

In [138]:
weather_df[['StartTime(UTC)','EndTime(UTC)']] = weather_df[['StartTime(UTC)','EndTime(UTC)']].apply(pd.to_datetime)

weather_df ['date'] = weather_df['EndTime(UTC)'].apply(lambda x: datetime.date(x))

In [139]:
weather_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode,dest_city_name,Date,origin_city_name,fl_date,date
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"Saguache,CO",2016-01-07,"Saguache, CO",2016-01-07,2016-01-07
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"Saguache,CO",2016-01-07,"Saguache, CO",2016-01-07,2016-01-07
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,0.03,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"Saguache,CO",2016-01-07,"Saguache, CO",2016-01-07,2016-01-07
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"Saguache,CO",2016-01-08,"Saguache, CO",2016-01-08,2016-01-08
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"Saguache,CO",2016-01-08,"Saguache, CO",2016-01-08,2016-01-08

In [145]:
weather_df_cleaned = weather_df[['Type', 'origin_city_name','date']]
weather_df_cleaned['fl_date'] = weather_df_cleaned['date'].astype('datetime64')

/var/folders/c4/3j09ddn917g1d1wzcfkwk06w0000gn/T/ipykernel_8891/4183864723.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df_cleaned['fl_date'] = weather_df_cleaned['date'].astype('datetime64')

In [216]:
weather_df_cleaned.groupby(['fl_date','origin_city_name'])
weather_df_cleaned = weather_df_cleaned.drop_duplicates(subset = ['fl_date','origin_city_name'])

In [217]:
merge = df.merge(weather_df_cleaned,how='left', on=['fl_date','origin_city_name'])

In [218]:
merge

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,year,month,day,Type,date
0,2018-08-04,DL,DL,DL,118,DL,N368NW,118,15304,TPA,...,13.0,0.0,0.0,0.0,11.0,2018,8,4,Rain,2018-08-04
1,2018-06-17,UA,UA_CODESHARE,UA,4921,C5,N14179,4921,11618,EWR,...,NaN,NaN,NaN,NaN,NaN,2018,6,17,NaN,NaN
2,2019-11-21,UA,UA_CODESHARE,UA,5297,OO,N957SW,5297,13502,MTJ,...,NaN,NaN,NaN,NaN,NaN,2019,11,21,NaN,NaN
3,2019-06-02,WN,WN,WN,4582,WN,N441WN,4582,14107,PHX,...,11.0,0.0,11.0,0.0,0.0,2019,6,2,NaN,NaN
4,2018-12-25,UA,UA_CODESHARE,UA,3811,ZW,N454AW,3811,10868,CAE,...,115.0,0.0,0.0,0.0,6.0,2018,12,25,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2018-07-06,DL,DL,DL,1790,DL,N914DN,1790,10397,ATL,...,NaN,NaN,NaN,NaN,NaN,2018,7,6,Rain,2018-07-06
99996,2019-11-05,WN,WN,WN,1066,WN,N7707C,1066,11292,DEN,...,NaN,NaN,NaN,NaN,NaN,2019,11,5,Fog,2019-11-05
99997,2019-04-22,AA,AA,AA,594,AA,N812AW,594,11697,FLL,...,NaN,NaN,NaN,NaN,NaN,2019,4,22,NaN,NaN
99998,2019-06-12,AA,AA,AA,1260,AA,N144AN,1260,11298,DFW,...,0.0,0.0,11.0,0.0,9.0,2019,6,12,NaN,NaN
99999,2018-10-27,DL,DL,DL,977,DL,N996DL,977,13930,ORD,...,NaN,NaN,NaN,NaN,NaN,2018,10,27,NaN,NaN

In [219]:
merge = merge.drop('date', 1)

/var/folders/c4/3j09ddn917g1d1wzcfkwk06w0000gn/T/ipykernel_8891/1693010899.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  merge = merge.drop('date', 1)

In [220]:
merge2 = merge.dropna(subset=['fl_date'])

In [221]:
merge2[['arr_delay','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay']] = merge2[['arr_delay','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay']].fillna(0)

In [222]:
merge2

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,cancelled,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,year,month,day,Type
0,2018-08-04,DL,DL,DL,118,DL,N368NW,118,15304,TPA,...,0.0,13.0,0.0,0.0,0.0,11.0,2018,8,4,Rain
1,2018-06-17,UA,UA_CODESHARE,UA,4921,C5,N14179,4921,11618,EWR,...,0.0,0.0,0.0,0.0,0.0,0.0,2018,6,17,NaN
2,2019-11-21,UA,UA_CODESHARE,UA,5297,OO,N957SW,5297,13502,MTJ,...,0.0,0.0,0.0,0.0,0.0,0.0,2019,11,21,NaN
3,2019-06-02,WN,WN,WN,4582,WN,N441WN,4582,14107,PHX,...,0.0,11.0,0.0,11.0,0.0,0.0,2019,6,2,NaN
4,2018-12-25,UA,UA_CODESHARE,UA,3811,ZW,N454AW,3811,10868,CAE,...,0.0,115.0,0.0,0.0,0.0,6.0,2018,12,25,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2018-07-06,DL,DL,DL,1790,DL,N914DN,1790,10397,ATL,...,0.0,0.0,0.0,0.0,0.0,0.0,2018,7,6,Rain
99996,2019-11-05,WN,WN,WN,1066,WN,N7707C,1066,11292,DEN,...,0.0,0.0,0.0,0.0,0.0,0.0,2019,11,5,Fog
99997,2019-04-22,AA,AA,AA,594,AA,N812AW,594,11697,FLL,...,0.0,0.0,0.0,0.0,0.0,0.0,2019,4,22,NaN
99998,2019-06-12,AA,AA,AA,1260,AA,N144AN,1260,11298,DFW,...,0.0,0.0,0.0,11.0,0.0,9.0,2019,6,12,NaN
99999,2018-10-27,DL,DL,DL,977,DL,N996DL,977,13930,ORD,...,0.0,0.0,0.0,0.0,0.0,0.0,2018,10,27,NaN

In [231]:
merge2.isna().sum()

fl_date                0
mkt_unique_carrier     0
branded_code_share     0
mkt_carrier            0
mkt_carrier_fl_num     0
op_unique_carrier      0
tail_num               0
op_carrier_fl_num      0
origin_airport_id      0
origin                 0
origin_city_name       0
dest_airport_id        0
dest                   0
dest_city_name         0
crs_dep_time           0
crs_arr_time           0
dup                    0
crs_elapsed_time       0
flights                0
distance               0
arr_delay              0
cancelled              0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
year                   0
month                  0
day                    0
Type                   0
dtype: int64

In [223]:
merge2['Type'] = merge2['Type'].fillna('other')

In [224]:
merge2 = merge2.drop_duplicates()

In [226]:
merge2 = merge2.reset_index(drop = True)

In [230]:
merge2 = merge2.dropna(subset=['tail_num'])

In [232]:
merge2

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,cancelled,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,year,month,day,Type
0,2018-08-04,DL,DL,DL,118,DL,N368NW,118,15304,TPA,...,0.0,13.0,0.0,0.0,0.0,11.0,2018,8,4,Rain
1,2018-06-17,UA,UA_CODESHARE,UA,4921,C5,N14179,4921,11618,EWR,...,0.0,0.0,0.0,0.0,0.0,0.0,2018,6,17,other
2,2019-11-21,UA,UA_CODESHARE,UA,5297,OO,N957SW,5297,13502,MTJ,...,0.0,0.0,0.0,0.0,0.0,0.0,2019,11,21,other
3,2019-06-02,WN,WN,WN,4582,WN,N441WN,4582,14107,PHX,...,0.0,11.0,0.0,11.0,0.0,0.0,2019,6,2,other
4,2018-12-25,UA,UA_CODESHARE,UA,3811,ZW,N454AW,3811,10868,CAE,...,0.0,115.0,0.0,0.0,0.0,6.0,2018,12,25,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2018-07-06,DL,DL,DL,1790,DL,N914DN,1790,10397,ATL,...,0.0,0.0,0.0,0.0,0.0,0.0,2018,7,6,Rain
99996,2019-11-05,WN,WN,WN,1066,WN,N7707C,1066,11292,DEN,...,0.0,0.0,0.0,0.0,0.0,0.0,2019,11,5,Fog
99997,2019-04-22,AA,AA,AA,594,AA,N812AW,594,11697,FLL,...,0.0,0.0,0.0,0.0,0.0,0.0,2019,4,22,other
99998,2019-06-12,AA,AA,AA,1260,AA,N144AN,1260,11298,DFW,...,0.0,0.0,0.0,11.0,0.0,9.0,2019,6,12,other
99999,2018-10-27,DL,DL,DL,977,DL,N996DL,977,13930,ORD,...,0.0,0.0,0.0,0.0,0.0,0.0,2018,10,27,other

In [234]:
merge2.to_csv('/Users/dl/Desktop/lighthouse_midterm/data/merge2.csv',index = False)